<div class="w-150 mx-auto my-5 py-5 border border-blue-400 rounded-md">
  <p class="font-semibold text-2xl text-center underline">
    数字当てゲーム
  </p>

  <div class="mt-5 flex flex-col items-center justify-center">
    <div class="flex space-x-1">
      <button id="start" class="bg-blue-400 text-white p-2 rounded-md cursor-pointer">ゲームスタート</button>
      <button id="toggle_button" class="bg-blue-400 text-white p-2 rounded-md cursor-pointer">ルール</button>
    </div>

    <div id="menu" class="hidden my-5 p-2 border-2 border-blue-500 rounded-md text-sm">
      <p>①スタートを押すと異なる数字を組み合わせた3桁が自動生成されます。</p>
      <p>　（同じ数字を2つ以上用いたものは生成されません）</p>
      <p>②フォームに3桁の数字を打ち込むと、HITとBLOWを用いたヒントが返ってきます。</p>
      <p>③ヒントを元に生成された3桁の数字を当てるとクリア！5回以内を目指そう！</p>
      <p>　</p>
      <p>　HIT・・・桁と数字が合っている</p>
      <p>　BLOW・・・桁は違うが数字は合っている</p>
      <p>（例）2HIT 1BLOW = 数字・位置ともに正しい数字が２つ、位置が違う数字が１つ</p>
    </div>

    <div id="game-area" class="mt-5" style="display: none;">
      <h3 class="mt-4">試行回数： <span id="attempts">0</span></h3>
      <div class="flex space-x-2">
        <input type="number" step="1" id="guess" class="p-1 text-center border border-black rounded-md" placeholder="3桁の数字を入力">
        <button id="submit" type="button" class="bg-blue-400 text-white p-1 rounded-md cursor-pointer">判定</button>
      </div>
      <div class="mt-5 p-2 border-2 border-blue-400 rounded-md">
        <h3 class="mt-2 font-semibold text-center">判定結果</h3>
        <div class="flex items-center justify-center w-full">
          <ul id="history" class="pb-2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>