<header class="w-[80%] mx-auto mt-5 bg-blue-400 p-4 rounded-md">
  <div class="mx-5 flex items-center justify-between text-white font-bold text-lg">
    <a>TIME KILLING GAME</a>
    <div>
      <%= link_to "トップ", root_path, class: "px-2 py-1 bg-white text-blue-400 rounded-md" %>
    </div>
  </div>
</header>